* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 .container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
   background-color: whitesmoke;
   padding-top: 100px;
    
 }

 .container-form h1 {
    margin-bottom: 15px;
    font-size: 35px;
 }

 .container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: black;
    text-align: justify;
 }

 .container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    text-align: justify;
    margin-left: 100px;


 }

 .container-form  a i {
    color: orange;
    margin-right: 10px;
   


 }

 .container-form form .campo, textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdd;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;

 }

 .container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;


}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
    background: #e39403;
}

.contenedor1 {
   background-color: white;
   width: 100% 100%;
   padding-top: 50px;
   padding-bottom: 50px;
  
}
.contenedor1 iframe {
    width: 100%;
    height: 400px;
   
}

.caja {
  
   background-color: black;
   padding-top: 2%;
   padding-bottom: 10px;
  
}
.caja p {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: small;
}

.caja img {
   padding: 10px;
   width: 60px;
}

