* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align:baseline;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #171717;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  margin-right: 10px;
}

.logo {
  margin-left: 30px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a:hover {
  background: #3f3f3f;
}

.navbar a strong {
  color: rgb(205, 50, 36);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60vh !important;
  /*background: url(../assets/img/home.jpeg) no-repeat center;
  background-size: cover;*/
}

.header > p {
  color: #000000;
}

.header > h2.title {
  color: #000000;
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.title2 {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid rgb(205, 50, 36);
  color: #fff;
  text-decoration: none;
  background: rgb(205, 50, 36);
}

.btn:hover {
  background: none;
}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  padding: 30px;
  background: #1f1d1d;
}

.sau2 {
  padding: 30px;
  background: #fff;
  color: #000;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .box {
  height: 10rem;
  width: 17rem;
  background: #101010;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
}

.box-container .box i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: rgb(205, 50, 36);
  font-size: 3rem;
  margin: 1rem 0;
}

.box-container .box h3 {
  font-size: 20px;
  color: rgb(205, 50, 36);
}

.box-container .box h3 a {
  font-size: 20px;
  color: rgb(205, 50, 36);
  text-decoration: none;
}

.box-container .box p {
  padding: 0 15px;
  font-size: 16px;
}

.about {
  background: #171717;
}

.price {
  background: url(img/costos.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.contact {
  padding-top: 50px;
  background: #1f1d1d;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 0;
    font-size: 40px;
  }

  .sau {
    height: 100vh;
  }

  .navbar {
    display: none;
  }
}



/*For carrusel */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}