.contenido {
  background-color: gainsboro;
  padding-bottom: 50px;

}

h1 {
  padding-top: 100px;
  padding-bottom: 60px;
  color: blue;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  
}

h2 {
  padding-top: 30px;
  padding-bottom: 30px;
text-align: left ;
padding-left: 100px;
color: blue;
font-size: large;

}

  p {
  text-align: justify;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  }
  
 .caja h2 {
  padding-top: 10px;
 }
  


.caja  img {
  width: 500px;
  height: 300px;
  padding-left: 20px;
  padding-right: 100px;
 
}


.caja  {
  display: flex;
  
}

footer {
  
  background-color: black;
  padding-top: 2%;
  padding-bottom: 10px;
  width: 100%;
  height: 250px;
 
}
footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  color: white;
  text-align: center;
}

footer img {
  padding: 10px;
  width: 40px;
}







